<svg:g>
  <svg:g *ngIf="figure_type=='nothing'">
  </svg:g>
  <svg:g *ngIf="figure_type=='circle'">
    <circle
      id="circle_shape"
      [attr.cx]="properties.cx"
      [attr.cy]="properties.cy"
      [attr.r]="properties.r"
      [ngStyle]="shapeStyle()"
      [attr.transform]="shapeTransform()"
    />
  </svg:g>

  <svg:g *ngIf="figure_type=='rectangle' || figure_type=='square'">
    <rect
      id="rect_shape"
      [attr.x1]="properties.x1"
      [attr.y1]="properties.y1"
      [attr.x2]="properties.x2"
      [attr.y2]="properties.y2"
      [ngStyle]="shapeStyle()"
      [attr.transform]="shapeTransform()"
    />
  </svg:g>

</svg:g>
