#new_position{
  display:block;
  padding:20px;
}

#button_pos{
  width:80px;
  height:80px;
  float:left;
  display:inline-block
            button{
  }
}

#b_pos{
    width:100%;
    height:100%;
}

#table_pos{
  width:400px;
  padding-left:20px;
  padding-right:20px;
  display:inline-block
}
  #pos_header td{
    font-size:14px;
    font-weight:bold;
    text-align:center;
    padding:5px;
  }

  #add_shape{
    display:block;
    padding:20px;
              
  }

  #send_shape{
  width:80px;
  height:80px;
  float:left;
  display:inline-block
            button{
  }
  }

  #send_shape_btn{
    width:100%;
    height:100%;  
  }

  #select_figure{
    padding-left:10px;
    display:inline-block
  }

  #style_properties{
    padding-top:10px;
  }