
<div id="d3ts-{{var_name}}">
<svg:g [attr.width]="width" [attr.height]="height">

    <rect x="50" y="100" width="50" height="50"
      style="stroke: #000000; fill: none;"
      id="canvas-{{var_name}}"
    />

</svg:g>
</div>
