
<div id="test-x-tick">
  <form>
  <div id="font-size">
    <p>
      <label>Font Size</label> 
      <button type="button" (click)="minus_font()">-</button>
      <button type="button" (click)="plus_font()">+</button>
      <input type="text" [value]="font_size_label">
    </p>
  </div>

  <div id="position_x">
    <p>
      <label>Position X</label> 
      <button type="button" (click)="left_x()"><</button>
      <button type="button" (click)="right_x()">></button>
      <input type="text" [value]="x1">
      <input type="text" [value]="x2">
    </p>
  </div>


  <div id="position_y">
    <p>
      <label>Position Y</label> 
      <button type="button" (click)="get_up_y()">UP</button>
      <button type="button" (click)="get_down_y()">DOWN</button>
      <input type="text" [value]="y_position">
      <input type="text" [value]="y_position">
    </p>
  </div>

  </form>
  <svg [attr.width]="width" [attr.height]="height">
    <svg:g [attr.transform]="yTickTransform()"> 
    <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" />
    <svg:g><line
      [attr.x1]="tick_grid.x1-40"
      [attr.y1]="tick_grid.y1"
      [attr.x2]="tick_grid.x2-40"
      [attr.y2]="tick_grid.y2" 
      id="test_line_tick_grid"/>
    </svg:g>
    <svg:g [attr.transform]="control_yTickTransform()">
      <g tick-axis-y
        [label]="label"
        [position]="y_position"
        [axis_x]="axis_x"
        [axis_y]="axis_y"
        [x1]="x1"
        [x2]="x2"
        [font_size_label]="font_size()"
      > 
      </g>
    </svg:g>
    </svg:g>
</svg>
</div>
