<svg:g #tick
[attr.transform]="tickTransform()"
>
  <svg:g *ngIf="gridEnabled()">
    <line
      [attr.x1]="tick_grid.x1"
      [attr.y1]="tick_grid.y1"
      [attr.x2]="tick_grid.x2"
      [attr.y2]="tick_grid.y2"
      [attr.stroke-dasharray]="dash_style.dash"
      [attr.stroke-width]="dash_style.width"
      [attr.stroke]="dash_style.stroke"
      id="tick_grid"/>
  </svg:g>
  <svg:g *ngIf="tickEnabled()">
    <line
      [attr.x1]="tick_line.x1"
      [attr.y1]="tick_line.y1"
      [attr.x2]="tick_line.x2"
      [attr.y2]="tick_line.y2"
      [attr.stroke-width]="line_style.width"
      [attr.stroke]="line_style.stroke"
      id="tick_line"/>
    <svg:text
      [attr.x]="pos_text.x"
      [attr.y]="pos_text.y"
      [attr.font-size]="font_size()"
      [attr.text-anchor]="get_text_anchor()"
      [attr.transform]=""
    >{{label}}</svg:text>
  </svg:g>
</svg:g>
