#d3ts-canvas{
  fill:rgb(255,255,255);
  stroke-width:1;
  stroke:rgb(0,0,0)
}

#axis_x{
  stroke:rgb(255,0,0);
  stroke-width:2
}

#axis_bottom{
  stroke:rgb(0,0,0);
  stroke-width:2
}

#axis_y{
  stroke:rgb(0,0,0);
  stroke-width:2
}

